.main__banner {
  align-items: center;
  background-color: $defaultColor;
  display: flex;
  height: 90vh;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  .banner__text {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    .text__graduation {
      color: $defaultColor;
      font-family: "roboto-bold";
      font-size: 3rem;
      font-weight: bolder;
      text-align: center;
      text-shadow: 2px 2px 0 $secondaryColor, 2px -2px 0 $secondaryColor,
        -2px 2px 0 $secondaryColor, -2px -2px 0 $secondaryColor,
        2px 0px 0 $secondaryColor, 0px 2px 0 $secondaryColor,
        -2px 0px 0 $secondaryColor, 0px -2px 0 $secondaryColor;
    }
    a {
      animation: bounce 1s infinite;
      background-color: $secondaryColor;
      border-radius: 20px;
      color: $defaultColor;
      display: block;
      font-family: "roboto";
      font-size: 1.5rem;
      font-weight: 400;
      margin-top: 20px;
      padding: 15px;
      position: relative;
      text-align: center;
      z-index: 100;
    }
  }

  .banner__image-container {
    align-items: center;
    background-color: $secondaryColor;
    border-radius: 20px;
    clip-path: polygon(
      92.32051% 40%,
      93.79385% 43.1596%,
      94.69616% 46.52704%,
      95% 50%,
      94.69616% 53.47296%,
      93.79385% 56.8404%,
      92.32051% 60%,
      79.82051% 81.65064%,
      77.82089% 84.50639%,
      75.35575% 86.97152%,
      72.5% 88.97114%,
      69.3404% 90.44449%,
      65.97296% 91.34679%,
      62.5% 91.65064%,
      37.5% 91.65064%,
      34.02704% 91.34679%,
      30.6596% 90.44449%,
      27.5% 88.97114%,
      24.64425% 86.97152%,
      22.17911% 84.50639%,
      20.17949% 81.65064%,
      7.67949% 60%,
      6.20615% 56.8404%,
      5.30384% 53.47296%,
      5% 50%,
      5.30384% 46.52704%,
      6.20615% 43.1596%,
      7.67949% 40%,
      20.17949% 18.34936%,
      22.17911% 15.49361%,
      24.64425% 13.02848%,
      27.5% 11.02886%,
      30.6596% 9.55551%,
      34.02704% 8.65321%,
      37.5% 8.34936%,
      62.5% 8.34936%,
      65.97296% 8.65321%,
      69.3404% 9.55551%,
      72.5% 11.02886%,
      75.35575% 13.02848%,
      77.82089% 15.49361%,
      79.82051% 18.34936%
    );
    display: flex;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;

    .image-container__content {
      background-color: $defaultColor;
      border-radius: 20px;
      height: 280px;
      overflow: hidden;
      width: 280px;
      clip-path: polygon(
        92.32051% 40%,
        93.79385% 43.1596%,
        94.69616% 46.52704%,
        95% 50%,
        94.69616% 53.47296%,
        93.79385% 56.8404%,
        92.32051% 60%,
        79.82051% 81.65064%,
        77.82089% 84.50639%,
        75.35575% 86.97152%,
        72.5% 88.97114%,
        69.3404% 90.44449%,
        65.97296% 91.34679%,
        62.5% 91.65064%,
        37.5% 91.65064%,
        34.02704% 91.34679%,
        30.6596% 90.44449%,
        27.5% 88.97114%,
        24.64425% 86.97152%,
        22.17911% 84.50639%,
        20.17949% 81.65064%,
        7.67949% 60%,
        6.20615% 56.8404%,
        5.30384% 53.47296%,
        5% 50%,
        5.30384% 46.52704%,
        6.20615% 43.1596%,
        7.67949% 40%,
        20.17949% 18.34936%,
        22.17911% 15.49361%,
        24.64425% 13.02848%,
        27.5% 11.02886%,
        30.6596% 9.55551%,
        34.02704% 8.65321%,
        37.5% 8.34936%,
        62.5% 8.34936%,
        65.97296% 8.65321%,
        69.3404% 9.55551%,
        72.5% 11.02886%,
        75.35575% 13.02848%,
        77.82089% 15.49361%,
        79.82051% 18.34936%
      );
      img {
        margin: -30px 0 0 -30px;
      }
    }
  }
}

.separator {
  height: 20px;
  width: 100%;
}

@media screen and (max-width: 868px) {
  .main__banner {
    flex-direction: column-reverse;
    .banner__text {
      width: 70%;
      .text__graduation {
        font-size: 1.85rem;
      }
      a {
        font-size: 1rem;
      }
    }
    .banner__image-container {
      margin: 50px 0 -40px;
    }
  }
}

@media screen and (max-width: 388px) {
  .main__banner {
    flex-direction: column-reverse;
    .banner__text {
      .text__graduation {
        font-size: 1.5rem;
        // margin-bottom: -10px;
      }
    }
    .banner__image-container {
      margin: 30px 0 -40px;
      min-height: 250px;
      min-width: 250px;
      .image-container__content {
        height: 230px;
        width: 230px;
        img {
          margin: -50px 0 0 -60px;
        }
      }
    }
  }
}

@keyframes bounce {
  from {
    top: -5px;
  }
  to {
    top: 0;
  }
}
