.main__services {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: 100%;
  .stat {
    background-color: $defaultColor;
    clip-path: polygon(
      92.32051% 40%,
      93.79385% 43.1596%,
      94.69616% 46.52704%,
      95% 50%,
      94.69616% 53.47296%,
      93.79385% 56.8404%,
      92.32051% 60%,
      79.82051% 81.65064%,
      77.82089% 84.50639%,
      75.35575% 86.97152%,
      72.5% 88.97114%,
      69.3404% 90.44449%,
      65.97296% 91.34679%,
      62.5% 91.65064%,
      37.5% 91.65064%,
      34.02704% 91.34679%,
      30.6596% 90.44449%,
      27.5% 88.97114%,
      24.64425% 86.97152%,
      22.17911% 84.50639%,
      20.17949% 81.65064%,
      7.67949% 60%,
      6.20615% 56.8404%,
      5.30384% 53.47296%,
      5% 50%,
      5.30384% 46.52704%,
      6.20615% 43.1596%,
      7.67949% 40%,
      20.17949% 18.34936%,
      22.17911% 15.49361%,
      24.64425% 13.02848%,
      27.5% 11.02886%,
      30.6596% 9.55551%,
      34.02704% 8.65321%,
      37.5% 8.34936%,
      62.5% 8.34936%,
      65.97296% 8.65321%,
      69.3404% 9.55551%,
      72.5% 11.02886%,
      75.35575% 13.02848%,
      77.82089% 15.49361%,
      79.82051% 18.34936%
    );
    height: 80px;
    margin-top: -85px;
    width: 50%;
  }
  h2 {
    border-left: 10px solid $secondaryColor;
    color: $secondaryColor;
    font-family: "roboto-bold";
    font-size: 3rem;
    font-weight: 900;
    margin: 50px 0;
    padding-left: 20px;
    position: relative;
  }
  .services__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    .content__card {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 300px;
      .card__image-container {
        align-items: center;
        background-color: $secondaryColor;
        clip-path: polygon(
          92.32051% 40%,
          93.79385% 43.1596%,
          94.69616% 46.52704%,
          95% 50%,
          94.69616% 53.47296%,
          93.79385% 56.8404%,
          92.32051% 60%,
          79.82051% 81.65064%,
          77.82089% 84.50639%,
          75.35575% 86.97152%,
          72.5% 88.97114%,
          69.3404% 90.44449%,
          65.97296% 91.34679%,
          62.5% 91.65064%,
          37.5% 91.65064%,
          34.02704% 91.34679%,
          30.6596% 90.44449%,
          27.5% 88.97114%,
          24.64425% 86.97152%,
          22.17911% 84.50639%,
          20.17949% 81.65064%,
          7.67949% 60%,
          6.20615% 56.8404%,
          5.30384% 53.47296%,
          5% 50%,
          5.30384% 46.52704%,
          6.20615% 43.1596%,
          7.67949% 40%,
          20.17949% 18.34936%,
          22.17911% 15.49361%,
          24.64425% 13.02848%,
          27.5% 11.02886%,
          30.6596% 9.55551%,
          34.02704% 8.65321%,
          37.5% 8.34936%,
          62.5% 8.34936%,
          65.97296% 8.65321%,
          69.3404% 9.55551%,
          72.5% 11.02886%,
          75.35575% 13.02848%,
          77.82089% 15.49361%,
          79.82051% 18.34936%
        );
        display: flex;
        height: 300px;
        justify-content: center;
        min-height: 300px;
        min-width: 300px;
        overflow: hidden;
        position: relative;
        width: 300px;
        img {
          clip-path: polygon(
            92.32051% 40%,
            93.79385% 43.1596%,
            94.69616% 46.52704%,
            95% 50%,
            94.69616% 53.47296%,
            93.79385% 56.8404%,
            92.32051% 60%,
            79.82051% 81.65064%,
            77.82089% 84.50639%,
            75.35575% 86.97152%,
            72.5% 88.97114%,
            69.3404% 90.44449%,
            65.97296% 91.34679%,
            62.5% 91.65064%,
            37.5% 91.65064%,
            34.02704% 91.34679%,
            30.6596% 90.44449%,
            27.5% 88.97114%,
            24.64425% 86.97152%,
            22.17911% 84.50639%,
            20.17949% 81.65064%,
            7.67949% 60%,
            6.20615% 56.8404%,
            5.30384% 53.47296%,
            5% 50%,
            5.30384% 46.52704%,
            6.20615% 43.1596%,
            7.67949% 40%,
            20.17949% 18.34936%,
            22.17911% 15.49361%,
            24.64425% 13.02848%,
            27.5% 11.02886%,
            30.6596% 9.55551%,
            34.02704% 8.65321%,
            37.5% 8.34936%,
            62.5% 8.34936%,
            65.97296% 8.65321%,
            69.3404% 9.55551%,
            72.5% 11.02886%,
            75.35575% 13.02848%,
            77.82089% 15.49361%,
            79.82051% 18.34936%
          );
          height: 280px;
          width: 280px;
        }
        &::after {
          background-color: $secondaryColor;
          bottom: -100%;
          background: linear-gradient(
            to bottom,
            $defaultColor,
            $secondaryColor
          );
          content: "";
          height: 100%;
          opacity: 0.5;
          position: absolute;
          transition: 1.05s;
          width: 100%;
          z-index: 5;
        }
      }
      h3 {
        color: #000000;
        font-family: "roboto";
        text-align: center;
      }
      &:hover .card__image-container::after {
        background-color: $secondaryColor;
        bottom: 0;
        background: linear-gradient(to bottom, $defaultColor, $secondaryColor);
        content: "";
        height: 100%;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        z-index: 5;
      }
      &:hover h3 {
        color: $secondaryColor;
      }
    }
  }
}

@media screen and(max-width:338px) {
  .main__services {
    h2 {
      font-size: 1.5rem;
    }
    .services__content {
      .content__card {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 200px;
        .card__image-container {
          height: 200px;
          min-height: 200px;
          min-width: 200px;
          width: 200px;
          img {
            clip-path: polygon(
              92.32051% 40%,
              93.79385% 43.1596%,
              94.69616% 46.52704%,
              95% 50%,
              94.69616% 53.47296%,
              93.79385% 56.8404%,
              92.32051% 60%,
              79.82051% 81.65064%,
              77.82089% 84.50639%,
              75.35575% 86.97152%,
              72.5% 88.97114%,
              69.3404% 90.44449%,
              65.97296% 91.34679%,
              62.5% 91.65064%,
              37.5% 91.65064%,
              34.02704% 91.34679%,
              30.6596% 90.44449%,
              27.5% 88.97114%,
              24.64425% 86.97152%,
              22.17911% 84.50639%,
              20.17949% 81.65064%,
              7.67949% 60%,
              6.20615% 56.8404%,
              5.30384% 53.47296%,
              5% 50%,
              5.30384% 46.52704%,
              6.20615% 43.1596%,
              7.67949% 40%,
              20.17949% 18.34936%,
              22.17911% 15.49361%,
              24.64425% 13.02848%,
              27.5% 11.02886%,
              30.6596% 9.55551%,
              34.02704% 8.65321%,
              37.5% 8.34936%,
              62.5% 8.34936%,
              65.97296% 8.65321%,
              69.3404% 9.55551%,
              72.5% 11.02886%,
              75.35575% 13.02848%,
              77.82089% 15.49361%,
              79.82051% 18.34936%
            );
            height: 180px;
            width: 180px;
          }
          &::after {
            background-color: $secondaryColor;
            bottom: -100%;
            background: linear-gradient(
              to bottom,
              $defaultColor,
              $secondaryColor
            );
            content: "";
            height: 100%;
            opacity: 0.5;
            position: absolute;
            transition: 1.05s;
            width: 100%;
            z-index: 5;
          }
        }
        h3 {
          color: #000000;
          font-family: "roboto";
        }
        &:hover .card__image-container::after {
          background-color: $secondaryColor;
          bottom: 0;
          background: linear-gradient(
            to bottom,
            $defaultColor,
            $secondaryColor
          );
          content: "";
          height: 100%;
          opacity: 0.5;
          position: absolute;
          width: 100%;
          z-index: 5;
        }
        &:hover h3 {
          color: $secondaryColor;
        }
      }
    }
  }
}

@media screen and(max-width:978px) {
  .main__services {
    h2 {
      font-size: 2rem !important;
    }
  }
}
